<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NEW ARTICLE</title>
</head>
<body>

	<form method="POST" action="articles/createArticle/">
		<input type="text" name="article_Title" id="article_Title" placeholder="Title" required>
		<input type="textarea" name="article_Description" id="article_Description" placeholder="Content" required>
		<input type="text" name="article_Category" id="article_Category" placeholder="category">
		<input type="text" name="article_Tags" id="article_Tags" placeholder="Tags">
		<input type="submit" name="submit" id="submit" value="Post article">
	</form>
	
</body>
</html>